/*
FONTS
font-family: 'Lora', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;

COLORS
lime green #b9f442
grey green #5f6358
light grey #f8f9f7
light blue #10d0e5
*/
.pageContainer {
  min-width: 320px;
  max-width: 960px;
  margin: auto;
}
header {
  background-color: #10d0e5;
}
.logoContainer {
  background-color: #b9f442;
  float: left;
  width: 200px;

}
.logoPic {
  width: 70px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;



}
body {
  font-family: 'Lora', serif;

}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 24px;
  color: #5f6358;
  display: inline-block;
  margin: 0px 0px 0px -10px;
  vertical-align: middle;
  position: relative;


}

h3 {
  font-family: 'Lato', sans-serif;
}
